# Copy this file to .env, then update the paths if you store these files elsewhere.

# Download this JSON from Google Cloud Console:
# Google Auth platform -> Clients -> Create client -> Desktop app.
GOOGLE_OAUTH_CLIENT_SECRETS_FILE_BASE64="<cat file.json | base64>"

# https://us-west-2.recall.ai/dashboard/developers/api-keys
RECALL_AI_API_KEY="<your-api-key>"

# Required for realtime voice
OPENAI_API_KEY="<your-api-key>"
